.nav_link:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(149 114 184);
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
}

.nav_link:hover:not(.nav_link--btn):after {
    width: 100%;
} 

.nav_link--btn {
    transition: background-color 0.2s linear, color 0.2s linear;
}

.nav_link--btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.knopka:hover:not(.knopka--btn):after {
    width: 100%;
} 

.knopka--btn {
    transition: background-color 0.2s linear, color 0.2s linear;
}

.knopka--btn:hover {
    background-color: #2b2a2c;
    color: #ffffff;
}

.social_link {
    transition: transform 0.2s linear;
}

.social_link:hover {
    transform: translateY(-5px);
} 

.btn {
    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear;
}

.btn:hover {
    background-color: #ffffff;
    color: #ffffff;
    border-color: #2b2a2c;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.work {
    transition: box-shadow 0.2s linear;
}

.works_nav-link:hover {
    text-decoration: underline;
}

.work:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
}

.about_photo:before {
    content: "";
    width: 413px;
    height: 413px;
    background-color: #EFEFEF;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.btn {
    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear;
}

.btn:hover {
    background-color: #2b2a2c;
    color: #ffffff;
    border-color: #2b2a2c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}