*,
*::before,
*::after {
    box-sizing: border-box;
}

.okno {
    max-width: 600px;
    max-height: 500px;
    margin: 0 auto;
}

.pic {
    width: 600px;
    height: 500px;
}

.itc-slider__wrapper {
    overflow: hidden;
}

.itc-slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;
}

.itc-slider__item:nth-child(1) {
    background-color: #f44336;
}

.itc-slider__item:nth-child(2) {
    background-color: #9c27b0;
}

.itc-slider__item:nth-child(3) {
    background-color: #3f51b5;
}

.itc-slider__item:nth-child(4) {
    background-color: #03a9f4;
}

.itc-slider__item:nth-child(5) {
    background-color: #4caf50;
}