.one {
    height: 600px;
    background-color: white;
}

.two {
    height: 600px;
    background-color: white;
}

.three {
    height: 600px;
    background-color: white;
}

.four {
    height: 600px;
    background-color: white;
    padding: 1.2rem;
}

.five {
    height: 600px;
    background-color: white;
}

.honey{
    position: absolute;
    width: auto;
}

.user_avatar img {
    width: 100%;
}

.social_link img {
    width: 41px;
}

.social {
    display: flex;
    height: 41px;
    justify-content: center;
}

.social_link {
    margin-right: 15px;
    text-decoration: none;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    min-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0px 0px 1rem 0px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    padding-top: 1.2rem;
    position: relative;
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    /* filter: drop-shadow(1px 1px 10px #ffa722); */
}

.user_avatar {
    width: 57px;
    height: 57px;
}

.user__avatar img {
    border-radius: 50%;
    width: 100%;
}

.user_content {
    padding-left: 9px;
}

.user_name {
    font-size: 1.06rem;
    line-height: 1.2rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 3px;
}

.user_prof {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
}


.nav-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.nav_link{
    margin-left: 2rem;
    position: relative;
    font-size: 0.93rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.nav_link--btn {
    padding: 0.66rem 2rem;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.nav_button {
    display: none;
}

.knopka {
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    font-size: 0.93rem;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.knopka--btn {
    padding: 0.66rem 2rem;
    border: 2px solid #000000;
    border-radius: 20px;
}

.intro_inner {
    height: 587px;
    position: relative;
    border-bottom: 1px solid rgba(250, 250, 250, 0.7);
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.05em 1.7em;
    min-width: 170px;
    border: 1px solid #6a696b;
    border-radius: 1.8em;
    background: none;
    cursor: pointer;
    font-family: 'inherit', sans-serif;
    font-size: 1.06rem;
    line-height: 0;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.btn + .btn {
    margin-left: 1rem;
}

/*Category*/

*,
*:before,
*:after {
 box-sizing: border-box;
}

.works {
    padding: 2.8rem;
    background-image: url(../images/073.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.works_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.4rem;
    text-transform: capitalize;
}

.works_nav-link {
    margin: 0 1.2rem;
    font-size: 1.1rem;
    color: rgba(255, 255, 255);
    text-decoration: none;
}

.work {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
    background-color: #ffa722;
}

.work_image {
    display: block;
    max-width: 100%;
    height: auto;
}

.work_content {
    padding: 1rem 0.8rem 1rem 0.8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.work_cat {
    font-size: 0.8rem;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    flex-basis: 100%;
}

.work_title {
    font-size: 1.06rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.money {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.06rem;
    font-weight: 700;
}
.services {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 2.8rem -1rem;
}

.services_col {
    flex-basis: 25%;
    padding: 1rem;
}

.about {
    margin: 7.5rem;
}

.about_inner {
    display: flex;
    max-width: 1200px;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.about_content {
    width: 50%;
    flex: 1;
}

.about_content {
    padding-left: 3.2rem;
    margin-top: 2rem;
    align-content: flex-end;
    flex: 1;
}

.about_title {
    font-size: 3rem;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 700;
}

.about_bigtitle {
    margin-bottom: 1.4rem;
    position: relative;
    left: -10px;
    font-size: 6.1rem;
    line-height: 1.1;
    color: rgb(255 167 34);
    font-weight: 700;
    text-transform: uppercase;
}

.about_text {
    margin-bottom: 5rem;
    font-size: 1rem;
    color: #6a696b;
    line-height: 1.8;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    position: relative;
}


.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.05em 3.7em;
    min-width: 90px;
    border: 1px solid #6a696b;
    border-radius: 1.8em;
    background: none;
    cursor: pointer;
    font-family: 'inherit', sans-serif;
    font-size: 1.06rem;
    line-height: 1;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

h2,
h3 {
    margin: 0;
}




body.no-scroll {
    overflow: hidden;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 42, 44, 0.8);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal.show {
    display: grid;
    align-items: center;
}

.modal__dialog {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    border-color: white;
}

.modal__dialog--sm {
    max-width: 900px;
    background-color: white;
    text-align: center;
}

.modal.show .modal__dialog {
    transform: scale(1);
    animation: fadeIn 200ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Настройка для модального окна */
.modal__dialog--mm {
    max-width: 1200px;
    background-color: white;
    text-align: center;
    height: 780px;
}

.modal__close {
    width: 34px;
    height: 34px;
    padding: 0;
    background: none;
    border: 0;
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;
    z-index: 2;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: linear;
}

.modal__close:hover {
    transform: rotate(90deg);
}



/*Модальное окно*/
.contact {
    display: flex;
}

.contact_left {
    width: 420px;
    padding: 2rem;
    height: 700px;
}

.contact_right {
    width: 480px;
    height: 700px;
}

.modal_title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #2b2a2c;
}


.mb-0 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 33px;
}


/* blog */
.modal-work {
    display: flex;
}

.modal-work_previews {
    width: 66%;
    position: relative;
    overflow: hidden;
}

.modal-work_content {
    display: flex;
    width: 35%;
    position: relative;
    padding: 4rem;
    flex-direction: column;
    align-items: center;
    height: 780px;
}

.modal-work_photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.modal-work_header {
    margin-bottom: 2.2rem;
}

.modal-work_title {
    margin-bottom: 0.2rem;
    font-size: 2.12rem;
    color: #2b2a2c;
    font-size: 700;
    text-transform: uppercase;
}

.modal-work_info {
    font-size: 1.7rem;
    color: #6a696b;
    text-transform: uppercase;
}

.modal-work_divider {
    margin: 0 1rem;
}

.modal-work_about {
    margin-bottom: 2.2rem;
}

.modal-work_about-title {
    margin-bottom: 0.2rem;
    font-size: 1.06rem;
    color: #2b2a2c;
    font-size: 700;
    font-weight: 900;
}


.modal-work_text {
    font-size: 1.1rem;
    color: #6a696b;
    line-height: 1.5;
}

.modal-work_footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    padding: 0 1.8rem 1rem;
    bottom: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
}

.modal-work_btn {
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.94rem;
    color: #2b2a2c;
    text-transform: uppercase;
}

.modal-work_btn:focus {
    outline: none;
    border: 0;
}

#footer {
    background: #000000;
    padding: 20px;
}

.slick-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 1.4rem;
    left: 0;
    z-index: 2;
}

.slick-dots li {
    margin: 0 0.5rem;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}

.slick-dots button {
    width: 11px;
    height: 11px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

.slick-dots button:focus {
    outline: 0;
}

.interactive {
    display: flex;
    justify-content: center;
}


.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #2b2a2c;
    margin-left: -1px;
    display: block;
}

.line-four {
    display: flex;
    margin: 1.2rem auto;
    width: 100%;
    max-width: 768px;
    position: relative;
    justify-content: space-between;
}

.contact_info-stu {
    color: #000000;
    font-size: 1.3rem;
    margin-bottom: 3.5rem;
}

.left-list {
    width: 50%;
    text-align: right;
    padding-right: 4.2rem;
}

.Address-stu {
    color: #000000;
    margin-bottom: 3.5rem;
}

.right-list {
    width: 50%;
    padding-left: 4.2rem;
}