/* 1199px */
@media screen and (max-width: 1199px) {
    .about_title {
        font-size: 2.5rem;
    }

    .about_bigtitle {
        font-size: 4rem;
    }
}

/* 1100px */
@media screen and (max-width: 1100px) {
    .modal__photo-setting {
        width: 600px;
    }
}

/* 1054px */
@media screen and (max-width: 1054px) {
    .modal__photo-setting {
        width: 570px;
    }
}

/* 1024px */
@media screen and (max-width: 1024px) {
    .modal__photo-setting {
        width: 420px;
    }

    .modal__close {
        background-color: #ffa722;
    }

    .modal__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* 991px */
@media screen and (max-width: 991px) {
    .intro_inner {
        padding-bottom: 3rem;
        background-size: 400px auto;
    }

    .btn {
        font-size: 1rem;
        padding: 1em 1.5em;
        min-width: 150px;
    }

    .about {
        margin: 3rem 0;
    }

    .about_content {
        order: 1;
        margin-bottom: 2rem;
        padding-left: 0;
        align-items: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .about_bigtitle {
        position: static;
    }
}

/* 970px */
@media screen and (max-width: 970px) {
    .nav_link {
        font-size: 0.83rem;
        margin-left: 1rem;
    }

    .works {
        padding: 1rem;
    }
}

/* 860px */
@media screen and (max-width: 860px) {
    .ourproject {
        width: 40%;
    }
}

/* 835px */
@media screen and (max-width: 835px) {
    .work {
        max-width: 370px;
    }

    .about_title {
        font-size: 2rem;
    }

    .about_bigtitle {
        font-size: 4rem;
    }

    .down_text {
        font-size: 14px;
        margin-top: 20px;
    }
}


/* 768px */
@media (max-width: 768px) {

    .menu__icon {
        display: block;
        width: 40px;
        height: 30px;
        margin-right: 10px;
    
        position: relative;
        z-index: 5;
        cursor: pointer;
    }

    .menu__icon span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all .2s;
    }

    .menu__icon span:first-child {
        top: 0;
    }
    
    .menu__icon span:last-child {
        top: auto;
        bottom: 0;
    }
    
    .menu__icon.active span {
        transform: scale(0);
    }
    
    .menu__icon.active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
    
    .menu__icon.active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }

    .menu__body {
        display: flex;
        position: absolute;
        top: 0;
        left: -100%;
        height: 110vh;
        width: 100%;
        background-color: black;
        transition: all .2s;
        overflow: auto;
        z-index: 1;
    }

    .nav-list {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        margin: 50px auto;
        z-index: 1;
        padding: 30px;
    }

    .nav_link {
        display: block;
        font-size: 20px;
        line-height: 70px;

        margin-left: 0px;
    }

    .project {
        max-width: 370px;
    }
}

/* 565px */
@media screen and (max-width: 565px) {
    .intro_inner {
        width: 100%;
    }

    .btn {
        display: block;
        width: 100%;
    }

    .btn+.btn {
        margin-left: 0;
        margin-top: 1rem;
    }

    .work {
        max-width: 370px;
        margin: 0 auto;
    }

    .project {
        max-width: 370px;
        margin: 0 auto;
    }
}

/* 560px */
@media screen and (max-width: 560px) {
    .ourproject {
        width: 60%;
    }
}

/* 480px */
@media screen and (max-width: 480px) {
    .modal__photo-setting {
        max-width: 100%;
    }

    .modal__title{
        font-size: 6vw;
    }
    .modal__price{
        font-size: 6vw;
    }
    .modal__text{
        font-size: 4vw;
    }

    .modal__text-warning {
        font-size: 10px;
    }

    .work_title {
        font-size: 3.7vw;
    }

    .money {
        font-size: 3vw;
    }

    .about_inner {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .about_content {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .about_bigtitle {
        font-size: 4.5rem;
        left: 0;
    }

    .about_title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 376px){
    .modal__content {
        padding: 30px;
    }
}

/* модальные окна */
@media screen and (max-width: 1280px) {
    .services_col {
        max-width: 300px;
    }
}

@media screen and (max-width: 1100px) {
    .services_col {
        max-width: 280px;
    }
}

@media screen and (max-width: 1030px) {
    .services_col {
        max-width: 260px;
    }
}

@media screen and (max-width: 970px) {
    .services_col {
        max-width: 240px;
    }
}
@media screen and (max-width: 910px) {
    .services_col {
        max-width: 200px;
    }
}
@media screen and (max-width: 800px) {
    .services_col {
        max-width: 270px;
    }
}
@media screen and (max-width: 680px) {
    .services_col {
        max-width: 230px;
    }
}
@media screen and (max-width: 579px) {
    .services_col {
        max-width: 200px;
    }
}

@media screen and (max-width: 579px) {
    .services_col {
        max-width: 45%;
    }
}

/* Для экранов с шириной от 768px до 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about_inner {
        max-width: 960px;
        flex-direction: column;
        align-items: center;
    }

    .about_content {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .about_bigtitle {
        font-size: 4.5rem;
        left: 0;
    }
}

/* Для экранов с шириной от 480px до 835px */
@media screen and (min-width: 480px) and (max-width: 835px) {


    .about_content {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .about_bigtitle {
        font-size: 4.5rem;
        left: 0;
    }

    .about_title {
        font-size: 2.5rem;
    }
}










