.logo {
    height: 587px;
}

.ourproject {
    text-align: center;
    top: 35%;
    position: relative;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 40px;
    border: 2px #ffffff ridge;
    width: 25%;
    margin: 0 auto;
}

.projects {
    padding: 2.8rem;
    background-image: url(../images/Background/stu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project {
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(247, 0, 255, 0.63);
    background-color: #56183b;
}


.case {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}



.serv {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 2.8rem -1rem;
}

.serv_col {
    flex-basis: 25%;
    padding: 1rem;
}

.artist {
    color: #ffffff;
    font-size: 1.06rem;
    font-weight: 500;
}

.track_title {
    font-size: 1.06rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.vk {
    text-decoration: none;
}

.new {
    position: absolute;
    background: rgb(248 6 255 / 48%);
    padding: 6px;
    color: #ffffff;
    font-weight: 700;
}

.header__projects {
    background-image: url(../images/Background/headerProjects-dark.jpg);
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1.2rem;
    
}