
.projects {
  padding: 2.8rem;
  background-image: url(../images/Background/DSC00532_byzhar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.case {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
}

.artist {
  color: #ffffff;
  font-size: 1.06rem;
  font-weight: 500;
}

.track_title {
  font-size: 1.06rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.band {
  text-decoration: none;
}

.header__project {
  padding-top: 1.2rem;
  position: relative;
  background-image: url(../images/Background/2024-03-10\ 22.53.29.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 66vh;
}

.category{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 44px;
  text-transform: capitalize;
}

.category__item{
  margin-left: 20px;
  font-size: 0.8rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}


.category__item:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
  
@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.category__item:active {
  color: #000;
}

.category__item:active:after {
  background: transparent;
}

.category__item:hover:before {
  opacity: 1;
}

.category__item:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.hide {
  display: none;
}


.track__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: 30px;
  row-gap: 30px;

  list-style-type: none;

  margin: 0 auto;
}

.tracks {
  max-width: 300px;
  cursor: url(../images/cursor.cur), pointer;
  z-index: 1;
}

.card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  background-color: #a50a5d;
}

.card__content {
  padding: 1rem 0.8rem 1rem 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.card__photo {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

.text__new {
  margin-left: 10px;
  margin-top: 7px;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;

}
